<nav class="nav d-flex mb-3">
  <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
  <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
  <ng-container *ngIf="auth.user$ | async; then logOutButton; else logInLink"></ng-container>

  <ng-template #logOutButton>
    <a class="nav-link ml-auto text-primary" (click)="auth.signOut()" style="cursor:pointer;">Log Out</a
  >
  </ng-template>
  <ng-template #logInLink>
    <a class="nav-link ml-auto" routerLink="/login" routerLinkActive="active"
    >Login</a
  >
  </ng-template>
</nav>
